= simple_form_for @job, html: { class: "form-horizontal" } do |f|
  = f.collection_select :category_id, Category.all, :id, :name, { prompt: "Pilih Kategori"}
  = f.input :title, label: "Judul Pekerjaan", input_html: { class: "form-control"}
  = f.input :description, label: "Deskripsi Pekerjaan", input_html: { class: "form-control"}
  = f.input :company, label: "Perusahaan Anda", input_html: { class: "form-control"}
  = f.input :url, label: "Alamat url Website", input_html: { class: "form-control"}
  %br/
  = f.button :submit
