= simple_form_for @job, html: { class: "form-horizontal" } do |f|
  = f.input :title, label: "Judul Pekerjaan"
  = f.input :description, label: "Deskripsi Pekerjaan"
  = f.input :company, label: "Perusahaan Anda"
  = f.input :url, label: "Alamat url Website"
  %br/
  = f.button :submit
