%h1= @job.title
%p= @job.description
%p= @job.company

= link_to "Beranda", root_path
= link_to "Edit", edit_job_path(@job)
= link_to "Hapus", job_path(@job), method: :delete, data: { confirm: "Apakah Kamu yakin?" }
